service: yaguwagu-admin

provider:
  name: aws
  runtime: nodejs10.x
  stage: dev
  region: ap-northeast-2  

functions:
  api:
    handler: src/app.handler
    events:
      - http:
          path: /user
          method: get
          cors:
            origin: '*'
      - http:
          path: /partner
          method: post
          cors:
            origin: '*'